AWSTemplateFormatVersion: "2010-09-09"
Description: ECS Cluster and CloudWatch Log Group

Resources:
  ECSCluster:
    Type: AWS::ECS::Cluster
    Properties:
      CapacityProviders:
        - FARGATE
      ClusterSettings:
        - Name: containerInsights
          Value: enabled

  ECSLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /ecs/ecs-cpu-test-${AWS::StackName}
      RetentionInDays: 7

Outputs:
  ClusterName:
    Description: ECS Cluster Name
    Value: !Ref ECSCluster
    Export:
      Name: !Sub ${AWS::StackName}-ClusterName

  LogGroupName:
    Description: CloudWatch Log Group Name
    Value: !Ref ECSLogGroup
    Export:
      Name: !Sub ${AWS::StackName}-LogGroupName
