AWSTemplateFormatVersion: "2010-09-09"
Description: ECS Service

Parameters:
  ClusterName:
    Type: String

  TaskDefinitionArn:
    Type: String

  TargetGroupArn:
    Type: String

  TaskSecurityGroup:
    Type: String

  PublicSubnet1:
    Type: AWS::SSM::Parameter::Value<AWS::EC2::Subnet::Id>
    Default: /ecs/dev/public-subnet-1

  PublicSubnet2:
    Type: AWS::SSM::Parameter::Value<AWS::EC2::Subnet::Id>
    Default: /ecs/dev/public-subnet-2

Resources:
  ECSService:
    Type: AWS::ECS::Service
    Properties:
      Cluster: !Ref ClusterName
      LaunchType: FARGATE
      DesiredCount: 1
      TaskDefinition: !Ref TaskDefinitionArn
      NetworkConfiguration:
        AwsvpcConfiguration:
          AssignPublicIp: ENABLED
          Subnets:
            - !Ref PublicSubnet1
            - !Ref PublicSubnet2
          SecurityGroups:
            - !Ref TaskSecurityGroup
      LoadBalancers:
        - ContainerName: cpu-container
          ContainerPort: 8080
          TargetGroupArn: !Ref TargetGroupArn
