AWSTemplateFormatVersion: "2010-09-09"
Description: Main stack for ECS CPU Test application

Parameters:
  ImageUri:
    Type: String
    Description: ECR Image URI for ECS Task

Resources:

  IAMStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: iam.yaml
  
  NetworkStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: networking.yaml
      Parameters:
        VpcId: /ecs/dev/vpc-id
        PublicSubnet1: /ecs/dev/public-subnet-1
        PublicSubnet2: /ecs/dev/public-subnet-2  

  ECRStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: ecr.yaml
      Parameters:
        RepositoryName: ecs-cpu-test    

  ECSClusterStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: ecs-cluster.yaml
      

  TaskDefinitionStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: task-definition.yaml
      Parameters:
        ImageUri: !Ref ImageUri
        ExecutionRoleArn: !GetAtt IAMStack.Outputs.CloudFormationExecutionRoleArn
        LogGroupName: !GetAtt ECSClusterStack.Outputs.LogGroupName

  ECSServiceStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: ecs-service.yaml
      Parameters:
        ClusterName: !GetAtt ECSClusterStack.Outputs.ClusterName
        TaskDefinitionArn: !GetAtt TaskDefinitionStack.Outputs.TaskDefinitionArn
        TargetGroupArn: !GetAtt NetworkStack.Outputs.TargetGroupArn
        TaskSecurityGroup: !GetAtt NetworkStack.Outputs.TaskSecurityGroup
        PublicSubnet1: !Ref PublicSubnet1
        PublicSubnet2: !Ref PublicSubnet2
      DependsOn:
        - NetworkStack
        - TaskDefinitionStack
