Resources:

  IAMStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: iam.yaml
  
  NetworkStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: networking.yaml

  ECRStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: ecr.yaml
      Parameters:
        RepositoryName: ecs-cpu-test    

  ECSClusterStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: ecs-cluster.yaml
      Parameters:
        GitHubConnectionArn: arn:aws:codestar-connections:ap-south-1:140857882741:connection/caa0b323-09d6-4218-b5ec-0103de858b47

  TaskDefinitionStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: task-definition.yaml
      Parameters:
        ImageUri: !Ref ImageUri
        ExecutionRoleArn: !GetAtt IAMStack.Outputs.CloudFormationExecutionRoleArn
        LogGroupName: !GetAtt ECSClusterStack.Outputs.LogGroupName

  ECSServiceStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: ecs-service.yaml
      Parameters:
        ClusterName: !GetAtt ECSClusterStack.Outputs.ClusterName
        TaskDefinitionArn: !GetAtt TaskDefinitionStack.Outputs.TaskDefinitionArn
        TargetGroupArn: !GetAtt NetworkStack.Outputs.TargetGroupArn
        TaskSecurityGroup: !GetAtt NetworkStack.Outputs.TaskSecurityGroup
      DependsOn:
        - NetworkStack
        - TaskDefinitionStack
