AWSTemplateFormatVersion: "2010-09-09"
Description: Main stack for ECS CPU Test application

Parameters:
  ImageUri:
    Type: String
    Description: ECR Image URI for ECS Task

  TaskExecutionRoleArn:
    Type: String
    Description: ECS Task Execution Role ARN (pre-created)

Resources:

  NetworkStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: https://ecs-cpu-artifacts-140857882741.s3.ap-south-1.amazonaws.com/networking.yaml
      Parameters:
        VpcId: /ecs/dev/vpc-id
        PublicSubnet1: /ecs/dev/public-subnet-1
        PublicSubnet2: /ecs/dev/public-subnet-2  

  ECSClusterStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: https://ecs-cpu-artifacts-140857882741.s3.ap-south-1.amazonaws.com/ecs-cluster.yaml

  TaskDefinitionStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: https://ecs-cpu-artifacts-140857882741.s3.ap-south-1.amazonaws.com/task-definition.yaml
      Parameters:
        ImageUri: !Ref ImageUri
        ExecutionRoleArn: !Ref TaskExecutionRoleArn
        LogGroupName: !GetAtt ECSClusterStack.Outputs.LogGroupName

  ECSServiceStack:
    Type: AWS::CloudFormation::Stack
    DependsOn:
      - NetworkStack
      - TaskDefinitionStack
    Properties:
      TemplateURL: https://ecs-cpu-artifacts-140857882741.s3.ap-south-1.amazonaws.com/ecs-service.yaml
      Parameters:
        ClusterName: !GetAtt ECSClusterStack.Outputs.ClusterName
        TaskDefinitionArn: !GetAtt TaskDefinitionStack.Outputs.TaskDefinitionArn
        TargetGroupArn: !GetAtt NetworkStack.Outputs.TargetGroupArn
        TaskSecurityGroup: !GetAtt NetworkStack.Outputs.TaskSecurityGroup
        PublicSubnet1: /ecs/dev/public-subnet-1
        PublicSubnet2: /ecs/dev/public-subnet-2
